<div class="span8 gold-book">
  <h1>Livre d'or</h1>

  <div class="well gold-item">
    <h3>Livraison rapide et produit top, je recommanderai !</h3>
    <div>
      <span class="badge badge-success">Posté le 3 novembre 2012</span><span class="label" style="margin-left: 5px">Par : Alice</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Un grand merci ! J'ai adoré les jolis bijoux que j'ai reçu. A bientôt pour la prochaine commande.</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Chris</span>
    </div>
  </div>
  <hr>


  <div class="well gold-item">
    <h3>Merci pour la commande personnalisée, le sac est parfait ! Amicalement</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Matthieu</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Livraison rapide et produit top, je recommanderai !</h3>
    <div>
      <span class="badge badge-success">Posté le 3 novembre 2012</span><span class="label" style="margin-left: 5px">Par : Alice</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Un grand merci ! J'ai adoré les jolis bijoux que j'ai reçu. A bientôt pour la prochaine commande.</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Chris</span>
    </div>
  </div>
  <hr>


  <div class="well gold-item">
    <h3>Merci pour la commande personnalisée, le sac est parfait ! Amicalement</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Matthieu</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Livraison rapide et produit top, je recommanderai !</h3>
    <div>
      <span class="badge badge-success">Posté le 3 novembre 2012</span><span class="label" style="margin-left: 5px">Par : Alice</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Un grand merci ! J'ai adoré les jolis bijoux que j'ai reçu. A bientôt pour la prochaine commande.</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Chris</span>
    </div>
  </div>
  <hr>


  <div class="well gold-item">
    <h3>Merci pour la commande personnalisée, le sac est parfait ! Amicalement</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Matthieu</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Livraison rapide et produit top, je recommanderai !</h3>
    <div>
      <span class="badge badge-success">Posté le 3 novembre 2012</span><span class="label" style="margin-left: 5px">Par : Alice</span>
    </div>
  </div>
  <hr>

  <div class="well gold-item">
    <h3>Un grand merci ! J'ai adoré les jolis bijoux que j'ai reçu. A bientôt pour la prochaine commande.</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Chris</span>
    </div>
  </div>
  <hr>


  <div class="well gold-item">
    <h3>Merci pour la commande personnalisée, le sac est parfait ! Amicalement</h3>
    <div>
      <span class="badge badge-success">Posté le 24 octobre 2012</span><span class="label" style="margin-left: 5px">Par : Matthieu</span>
    </div>
  </div>
  <hr>

</div>