<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th class="span2"></th>
    <th class="span2"></th>
    <th class="span9"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><strong>Ciel gris</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Enfin dimanche</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Ciel gris</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Enfin dimanche</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Ciel gris</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Ciel gris</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>
  <tr>
    <td><strong>Ciel gris</strong></td>
    <td><span class="label pull-right">Lien</span></td>
    <td><strong>Message descriptif sur le partenaire</strong></td>
  </tr>


  </tbody>
</table>