<div style="text-align: center">
  <h2>MENTIONS LEGALES</h2>

  <p>
    Ce site est créé pour promouvoir les produits créés ou choisis  par Valérie Cordonnier
    <br />
    Nom commercial : Isenghien
    <br />
    Auto-entreprise domiciliée 6 rue de la Fêterie – 59134 Le Maisnil
    <br />
    Immatriculée sous le numéro de Siret : 531 338 598 00018
    <br />
    TVA non applicable selon l’article 293B du Code Général des Impôts
    <br />
    Tél : 06.82.23.73.92.
    <br />
    Mail : <a href="mailto:cordonniervalerie@gmail.com">cordonniervalerie@gmail.com</a>
    <br />
    Site : <a href="www.isenghien.com">www.isenghien.com</a>
    <br />

    <br /><br />
    Isenghien s’engage à répondre au plus vite
    <br />
    à toute commande, demande ou renseignement formulé en Français.
  </p>
</div>
