<img src="http://isenghien.fr/wp-content/uploads/2012/02/DSC06320NB.jpg" style="width: 205px; float: left; margin: 10px 20px 10px 0;" />

<p style="margin-top: 0;"><strong>Bienvenue sur mon site</strong></p>
<p>Isenghien vous offre un large choix de bijoux et accessoires à des prix tout doux.
Tous sont créés ou choisis avec la plus grande attention. </p>
<p>Vous y découvrirez mes coups de cœur -originaux, tendances, classiques, élégants-
Chacun est unique ou en tout petite série, mais tous ne sont pas présentés sur le site. </p>
<p>Je vous invite aussi à venir me rendre visite sur rendez-vous au 06.82.23.73.92. Ou lors des ventes privées afin de découvrir tous les modèles ;
c’est avec grand plaisir que je vous accueillerai.</p>

<p><strong>J’espère que mes coups de cœur seront aussi les vôtres.
Alors… à très bientôt.</strong></p>